<h1>沼Escape</h1>
<p>ここはトップページだウホッ</p>

<!-- 下記消してくださいネ！ -->
  <style>
      .large-text {
          font-size: 100px;
      }
  </style>

  <body>
    <span class="large-text">&#127820; &#x1f98d;</span>
  </body>